[submodule "vim/.vim/pack/plugins/start/vim-go"]
	path = vim/.vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/.vim/pack/plugins/start/vim-man"]
	path = vim/.vim/pack/plugins/start/vim-man
	url = https://github.com/vim-utils/vim-man.git
[submodule "vim/.vim/pack/plugins/start/vim-clang-format"]
	path = vim/.vim/pack/plugins/start/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format.git
[submodule "irssi/.irssi"]
	path = irssi/.irssi
	url = https://github.com/alvarofe/irssi.git
[submodule "vim/.vim/pack/plugins/start/rust-vim"]
	path = vim/.vim/pack/plugins/start/rust-vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/.vim/pack/plugins/start/vim-racer"]
	path = vim/.vim/pack/plugins/start/vim-racer
	url = https://github.com/racer-rust/vim-racer.git
