.netrwhist
vim/.vim/swapfiles/
emacs/.emacs.d/eclipse.jdt.ls/*
emacs/.emacs.d/workspace/*
emacs/.emacs.d/auto-save-list/*
emacs/.emacs.d/elpa/*
emacs/.emacs.d/init.el
emacs/.emacs.d/elpy/*
vim/.vim/view
nvim/site/plugged/*
nvim/site/plugged
.bashrc
