*.foreground: white
*.background: black
XTerm*selectToClipboard:true
XTerm*VT100.Translations: #override Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n Ctrl Shift <Key>C: copy-selection(CLIPBOARD)
XTerm*ScrollBar:false
XTerm*metaSendsEscape: true
XTerm.termName: xterm-256color

!xterm*faceName: Monospace
!xterm*faceSize: 8

xterm.vt100.printAttributes: 0
xterm.vt100.printerCommand: xterm -maximized -T History -e sh -c 'less -r <&3' 3<&0
xterm.vt100.on4Clicks: all

xterm*VT100.Translations: #override \
        Ctrl <Key> minus: smaller-vt-font() \n\
        Ctrl <Key> plus: larger-vt-font() \n\
        Ctrl <Key> 0: set-vt-font(d) \n\
        Shift <KeyPress> Insert: insert-selection(CLIPBOARD) \n\
        Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
        Ctrl Shift <Key>C:    copy-selection(CLIPBOARD) \n\
        Ctrl <Btn1Up>: exec-formatted("xdg-open '%t'", PRIMARY) \n\
        Ctrl <Key>F: print-everything() \n\
        Shift <Btn1Up>: exec-formatted("google-chrome '%t'", PRIMARY)

!xterm*faceName: Iosevka Term SS03
!xterm*faceSize: 8
uxterm*selectToClipboard:true
uxterm*VT100.Translations: #override Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n Ctrl Shift <Key>C: copy-selection(CLIPBOARD)
uxterm*ScrollBar:false
disallowedWindowsOps: 20,21,SetXprop

URxvt.scrollBar: false
URxvt.perl-ext-common: selection-to-clipboard,font-size,fullscreen

URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show
URxvt.keysym.F11:      perl:fullscreen:switch

URxvt.saveLines:             20000
URxvt.scrollstyle:           plain
URxvt.searchable-scrollback: Meta-Shift-S
*cursorColor:  #b60900
